.block_header{
    flex-direction: row;
    align-items: center;
    width: 100%;

}
.block_header__line{
    background-color: brown;
    width: 100%;
    height: 14px;
}
.section__fitness__content{
    flex-wrap: wrap;
}









/* mobile */
@media(max-width:767px){

.block_header__line{
    height: 5px;
}

}