.header{
    background-color: rgb(209, 207, 207);
}
a{
    text-decoration: none;
    color: inherit;
}
.nav__item a{
    color: rgb(52, 8, 156);
    font-weight: 400;
    font-size: 44px;
}
.nav__item a:hover{
    color: rgb(118, 93, 175);
    transition: all 0.2s ease-in-out;
}