.header{
    background-color: #d2232e;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.header__row{
    align-items: center;
    display: flex;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

.header a:hover{
    color: #000;
    transition: all 0.2s ease-in-out;
}

