*{
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Prata', serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Anton', sans-serif;
    
}