.nav__item{
    margin-right: 10px;
}
.nav__item>a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color:#fff;
}
.nav__item>a:hover{
    color: #000;
    transition: all 0.2s ease-in-out;
}
.nav-main__list>.nav__item{
        display: none;
}
   


/* tablet */
@media(min-width:768px){
    .nav-main__list>.nav__item:nth-child(4),
    .nav-main__list>.nav__item:nth-child(1),
    .nav-main__list>.nav__item:nth-child(3){
        display: block;
    }
    

}






/* laptop */
@media(min-width:992px){
    
    .nav-main__list>.nav__item:nth-child(5){
        display: block;
    }

}




/* desktop */
@media(min-width:1200px){
    .nav-main__list>.nav__item:nth-child(2){
        display: block;
    }
}



/* mobile */
@media(max-width:767px){
    .nav-main__list{
        max-width: 60px;
    }
    .nav__item>a{
        font-size: 16px;
    }
    .nav-main__list>.nav__item:nth-child(4){
        display: block;
    }
    .nav__item>a{
        font-size: 14px;
    }
}