.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.secton__article-row{
    flex-direction: column;
}

.section_title{
    font-size: 4.5rem;
    margin-right: 20px;
    text-transform: uppercase;
}









/* laptop */
@media(min-width:992px){
    .section_title{
        font-size: 6em;
    }

}






/* mobile */
@media(max-width:767px){

.section_title{
    font-size: 2.5rem;
    margin-right: 5px;
}


}
