.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}

.secton__article-row{
    flex-direction: column;
    width: 100%;
}

.section_title{
    font-size: 6rem;
    margin-right: 20px;
}








/* mobile */
@media(max-width:767px){

.section_title{
    font-size: 40px;
    margin-right: 10px;
}


}
