.logo{
    display: block;
    margin-right: 15px;
}

.logo img{
    height: 30px;
    width: auto;
}





/* laptop */
@media(min-width:992px){
    
}


/* mobile */
@media(max-width:767px){
    
.logo img{
    
    max-width: 120px;
    height: auto;
}

} 