
.section__article-item{
    margin-top: 40px;
    margin-bottom: 60px;
}

.section__article-img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.section__article-title-block{
    border-bottom: 1px solid #000 ;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 20px 20px 20px;
}
.section__article-title, .section__article-subtitle{
    width: 100%;
    text-align: center;
    line-height: 1.2;
}
.section__article-title{
    font-family: 'Prata', serif;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 20px;
}
.section__article-title:hover{
    color: #D2232E;
    transition: all 0.4s linear;
}

.section__article-subtitle{
    font-family: 'Heebo', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

/* SectionContent2x1Type2 */

.section__article-item-type2{
    background-color: #EFEBDE;
    flex-direction: column-reverse;

}
.img-type2{
    margin-bottom: 0;
}
.title-block-type2{
    padding: 42.5px 16px;
}
.author-type2{
    text-align: center;
    margin: 20px 0;
}








/* laptop */
@media(min-width:992px){
    .section__article-item-type2{
        flex-direction: row;
        align-items: center;
    }
}





/* mobile */
@media(max-width:767px){
    .section__article-title{
        font-size: 25px;
    }
    .section__article-subtitle{
        font-size: 18px;
    }

}